@font-face {
  font-family: 'Lato-BoldItalic';
  src: url('../fonts/Lato-BoldItalic.woff2') format('woff2'),
    url('../fonts/Lato-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}